[submodule "lisp/hog-emacs"]
	path = packages/hog-emacs
	url = https://github.com/andrewpeck/hog-emacs
[submodule "lisp/hdl_deps"]
	path = packages/hdl-deps
	url = https://github.com/andrewpeck/hdl_deps
[submodule "lisp/tabular"]
	path = packages/tabular
	url =https://github.com/andrewpeck/tabular
[submodule "lisp/system-install.el"]
	path = packages/system-install
	url = https://github.com/andrewpeck/system-install.el
